/* Shared styles  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@400;700;800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #FF42A5;
    --secondary-color: #8758F1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.title {
    color: #0B0223;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.span-secondary-title {
    color: var(--secondary-color);
    font-size: 42px;
    font-weight: 600;
}

.btn-primary {
    padding: 18px 28px;
    border: 0;
    color: white;
    border-radius: 42px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-secondary {
    padding: 18px 28px;
    border: 0;
    color: white;
    border-radius: 42px;
    background: #4EC5F7;
}

.description {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

/* nav section styles  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 38px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.span-title {
    color: var(--primary-color);
}

nav>ul {
    display: flex;
    gap: 30px;
    align-items: center;

}

ul li {
    list-style: none;
}



nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menu-together {
    display: flex;
    gap: 12px;
    padding: 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner section styles  */
.banner-section {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:240px;
    background: #FFF;

}

.banner-title {
    color: #0B0223;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;

}

.main-title {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* gamer section styles  */
.gamer-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 54px 240px 0 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}

.gamer-section img {
    width: 640px;
}

.btn-margin {
    margin-left: 180px;
}

.quote {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

/* online gamer styles  */
.online-container {
    margin-top: 180px;
}
.center-align{
    text-align: center;
}
.img-container{
    width:1240px;
    display: flex;
    margin-left: 240px;
    gap:16px;
    margin-top:32px;
}

.img-container img {
    width:250px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.card {
  position: relative;
  display: inline-block;
}

.thumbnail {
  position: relative;
  /* Add your styles for the card thumbnail image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover .overlay {
  opacity: 1;
}

.fa-play{
  font-size: 38px;
  color: #fff;
  
}

.text {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  
}


/* responsive styles  */

/* For small devices  */
@media screen and (max-width: 576px) {

    nav,
    nav>ul,
    .gamer-section ,
    .img-container
    {
        flex-direction: column;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    nav {
        padding: 0;
    }

    .nav-items {
        justify-content: center;
        gap: 10px;
    }

    nav>ul {
        justify-content: center;
        width: 100%;
    }

    .banner-section,
    .gamer-section {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .banner-section img {
        width: 100%;
    }

    .gamer-section img {
        width: 100%;
    }

    .btn-margin {
        margin: 0;
    }
    .img-container{
        padding:0 20px;
        margin:0 20px;
    }
}

/* tablet styles  */

@media screen and (min-width: 576px) and (max-width:960px) {

    nav,
    nav>ul,
    .gamer-section ,
    .img-container
    {
        flex-direction: column;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    nav {
        padding: 0;
    }

    .nav-items {
        justify-content: center;
        gap: 10px;
    }

    nav>ul {
        justify-content: center;
        width: 100%;
    }

    .banner-section,
    .gamer-section {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .banner-section img {
        padding: 20px o;
        margin: 0;
        width: 80%;
    }

    .gamer-section img {
        width: 80%;
        margin: 20px 0;
        padding: 0;
    }

    .btn-margin {
        margin: 0;
    }
}